.nav-bar {
  .category-item {
    padding: 10px 20px;
  }

  .dropdown-toggle::after {
    display:none;
  }

  .dropdown-item {
    &:hover {
      cursor: pointer !important;
      color: #2c7be5 !important;
      background-color: transparent !important;
    }
  }
}

.top-bar {
  .container-search {
    position: absolute;
    top: 100%;
    z-index: 10000;
    width: 90%;
    background: white;
    padding: 20px 10px 20px 20px;
    font-size: 13px;
    box-shadow: 2px 2px 4px 0 #6e6e6e;
    border-radius: 6px;

    .list-search {
      max-height: 300px;
      overflow-y: auto;
    }

    img {
      width: 50px;
      height: 50px;
    }

    i {
      color: rgb(0,185,142);
    }
  }
}