$primary-color: #2c7be5;
$bg-gray: #efefef;
$border-gray: #dee2e6;


.bg-shop {
  background-color: $primary-color !important;
}

.bg-gray {
  background-color: $bg-gray;
}

.border-gray {
  border: 1px solid $border-gray;
}

.border-bottom-gray {
  border-bottom: 1px solid $border-gray;
}

.active-text {
  color: $primary-color !important;
}

.nav-link {
  &.active, &:hover {
    color: $primary-color !important;
    cursor: pointer;
  }
}

.btn-checkout:hover, .btn-buy:hover {
  color: white !important;
}

.pointer {
  cursor: pointer;
}

.table-custom {
  thead {
    vertical-align: middle;
    tr {
      font-size: 18px;
      th:not(:first-child){
        min-width: 120px;
      }
      th:last-child{
        min-width: 150px;
      }
    }
  }
  tbody {
    vertical-align: middle;
  }
}

ul {
  list-style: none;
}


